{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "containers": "./containers",
          "queries": "./graphql/queries"
        }
      }
    ],
    "require-context-hook"
  ],
  "test": {
    "presets": ["react", "env", "stage-0"],
    "plugins": ["require-context-hook"]
  }
}
