{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "containers": "./containers",
          "queries": "./graphql/queries"
        }
      }
    ]
  ]
}
